body {
  margin: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
  background-position: top center;
}

a {
  text-decoration: none;
}

.main-navigation-list-item>a,
.best-sellers-list h3,
.info-list-item a{
  text-decoration: underline;
  text-decoration-color: rgba(194, 206, 199, 0.52);
}

article a{
  color: #323232;
  text-decoration: underline;
  text-decoration-color: #323232;
}

article a:hover {
  text-decoration-color: #e84d37;
}


.login-link a,
.basket-link a{
  padding: 10px 15px 10px 45px;
  background-color: rgba(255, 255, 255, 0.2);
  background-position: left;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
}

.basket-link a{
  background-image:url("../img/basket-icon.svg");
  background-position: 15px;
}

.login-link a{
  background-image: url("../img/Signin-icon.svg");
  background-position: 15px;
}

.login-link a:hover,
.login-link a:focus,
.basket-link a:hover,
.basket-link a:focus{
  color: #323232;
  background-color: #f8f7f4;
  /* Как иконку черным цветом покрасить в CSS??? */
}

.button {
  font: inherit;
  padding: 10px 20px;

  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgb(160, 32, 11, 0.76);
  vertical-align: middle;

  background-color: #eb553b;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 20px;
}

.button-in-slider {
  width: 280px;
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 30px;
}


.button:hover,
.button:focus {
  background-color: #eb553b,
}

.button:active{
  box-shadow: inset 0 2px 0 0 #ac1000;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-navigation-list {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-navigation ul:first-of-type,
.user-navigation,
.social ul,
.info-list,
.offers-list,
.best-sellers-list,
.features-list,
.social,
.catalog-list{
  list-style: none;
}

.main-navigation a,
.best-sellers a,
.main-footer a{
  color: #ffffff;
}

.user-navigation a{
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.button-search{
  height: 32px;
  width: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/Zoom-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
}

.button-search:hover,
.button-search:focus{
  color: #323232;
  background-color: #f8f7f4;
  /*Не работает. Нужно придумать что-то*/
  background-image: url("../img/black-zoom.svg");

}

.best-sellers a:hover,
.best-sellers a:focus,
.best-sellers a:active,
.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active{
  color: #ffbc9e;
  font-weight: 500;
}

article a:hover,
article a:focus,
article a:active{
  color: #e84d37;
  font-weight: 700;
}

/*Добавила эту стилизацию отдельно для ссылки в футере, потому что отличается свойством font-weight от всех */
.info-list li:first-child a:hover,
.info-list li:first-child a:focus,
.info-list li:first-child a:active,{
  color: #ffbc9e;
  font-weight: 700;
}

.contacts {
  text-align: right;
  color: #ffffff;
  background-color: #849d8f;
}

.contacts .work-time {
  font-size: 14px;
  line-height: 16px;
}
.contacts .phone-number {
  font-size: 22px;
  line-height: 24px;
}

.container {
  color: #ffffff;
  font-weight: bold;
  background-color: #849d8f;
}

.slider p {
  font-size: 60px;
  line-height: 60.35px;
}

.slider-switches {
    list-style: none;
    margin: 0;
    padding: 0;
}

.offers {
  color: #ffffff;
  font-weight: 700;
  background-color: #849d8f;
}

.offers-list-item{
  text-align: left;
}

.offers-list-item h3{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.offers-list-item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.first-offer {
  background-color: #a10416;
  background-image: url("../img/raspberry_background.jpg");
  border-radius: 15px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 560px auto;
}

.second-offer {
  background-color: #251610;
  background-image: url("../img/chocolate_background.jpg");
  background-position: 0 0;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 560px auto;
}

.best-sellers{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #849d8f;
}

.best-sellers-item-price{
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

.best-sellers .price-amount{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.best-sellers img{
  border-radius: 134px;
}

.features{
  background-color: #ece0c7;
  background-image: url("../img/waffle-background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.features{
  color: #323232;
  text-align: left;
}

.features b{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list-item p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

article{
  color: #323232;
  text-align: left;
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

article b{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

article h1{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/*Тут проблемы с фоном или рамкой*/
.sign-in{
  color: #5a5a5a ;
  text-align: left;
  background-color: #f8f7f4;

  background-image:  url("../img/post-background.jpg");
  background-repeat: repeat;
  background-position: cover;
  border-radius: 15px;
}

.sign-in-wrap {
  background-image: url("../img/sign-in-backgroundjpg.jpg");
  background-repeat: repeat;
  background-position: 5px 5px;
  border-radius: 15px;

}

.sign-in p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.sign-in input[type="text"] {
  font: inherit;
  background-color: #fefefe;
  border: 1px solid rgba(178, 178, 178, 0.52);
  /*box-shadow: inset 3px 3px 0 7px rgba(0, 0, 0, 0.35);*/
}

.sign-in input[type="submit"]{
  font-size: 18px;
  line-height: 24px;
}


.location-and-contacts{

}

.adress-and-phone-info{
  color: #323232;
  text-align: left;
  background-color: #fefefe;
  border-radius: 15px;
}

.adress-info{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.adress-info b{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.phone-number{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.phone-number b{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.worktime-info{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/*Начало стилизации страницы каталога*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(194, 206, 199, 0.52);
}

.breadcrumbs-current{
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.inner-page h1{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.filters fieldset{
  border: none;
}

.filters legend{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.filters ul{
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}


.filter-input:hover,
.filter-input:focus,
.filter-option label:hover,
.filter-option label:focus{
    color: #ffffff;
}

.filter-input:disabled,
.filter-option label:hover:disabled{
  /* Здесь не работает цвет для label при disabled, а у input работает */
  color: rgba(255, 255, 255, 0.4);
  opacity: 0.4;
}
.catalog{
  background-color: #849d8f;
}

.catalog-list{
  list-style: none;
  background-color: #849d8f;
  color: #323232;
}

.catalog a{
  text-decoration: none;
  color: #ffffff;
}

.catalog-list h3{
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.catalog-item:hover,
.catalog-item:focus{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  /* Вставить кнопку при наведении */
}

.catalog-item img{
  border-radius: 134px;
}

.catalog-item-price{
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  color: #ffffff;
}

.catalog-item .price-amount{
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-list a{
  color: #323232;
  text-decoration: underline;
  text-decoration-color: rgba(194, 206, 199, 0.52);
  font-size: 14px;
  line-height: 16px;
}

.catalog-list-item:not(:first-of-type){
  font-weight: 400;
}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
}

.catalog-list a:active{
  background-color: #f6b5a5;
}

.catalog-list a:visited{
  background-color: #d07058;
}

.pagination-list {
  list-style: none;
}

.pagination-item a{
  color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus{
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 25px;
  border-radius: 12px;
}

.pagination-item-current a {
  color: #323232;
  background-color: #f8f7f4;
}

.pagination-item a:active{
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 25px;
  border-radius: 12px;
}


.main-footer{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.info-list-item:first-child{
  font-weight: 700;
}

.social {
  text-align: center;
}

.social-button{
  background-color: rgba(254, 254, 254, 0.8);
}

.copyright{
  text-align: left;
}
.copyright .copyright-developer{
  font-size: 12px;
}

.copyright a:last-of-type{
  text-decoration: underline;
  text-decoration-color: rgba(194, 206, 199, 0.52);
}

.modal{
  color: #323232;

  background-color: #fefefe;
}

.login-form input[type="email"],
.login-form input[type="password"],
.modal-answer input[type="text"],
textarea {
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #fffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.sign-in input[type="email"]{
  font-size: 16px;
}


.answer-info p{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.login-modal .restore,
.login-modal .registration {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: underline;
}


.restore:hover,
.restore:focus,
.registration:hover,
.registration:focus,
.restore:active,
.registration:active {
  color: #ffbc9e;
  text-decoration: none;
}

.modal-basket{
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  background-color: #ffffff;
}

.shopping-list{
  list-style: none;
}

.shoppig-list-item span{
  color: #999999;
}

.total-amount-of-money{
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

/* Сеточные стили */
html,
body {
  min-width: 1200px;
}

.main-header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}

.main-header-logo {
  width: 154px;
  height: 64px ;
  padding-right: 25px;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.user-navigation {
  width: 265px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: 13px;
}

.user-navigation li {
  margin-left: 10px;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.main-navigation-list {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  list-style: none;
}

.main-navigation-list li {
  margin-right: 20px;
}

.main-navigation-list-item .catalog-list{
  margin: 0;
  padding: 0;
}

.contacts {
  align-self: flex-end;
  margin-top: ;
}

.contacts p {
  margin: 0;
  margin-top: 10px;
}

/* Конец оформления сетки хедера */

/* Оформление сетки слайдера */
.slider {
  margin-bottom: 40px;

  background-image: url(img/main_icecreams.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Оформление сетки блока предложений */
.offers-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;

  display: flex;
  justify-content: space-between;
  width: 1146px;

  list-style: none;
}

.offers-list .first-offer {
  width: 560px;
}

.offers-list .second-offer {
  width: 560px;
}

.offers-list-item {
  display: flex;
  flex-direction: column;
}

.offers-list-item h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 23px;
  margin-left:20px;
  padding: 0;
}

.offers-list-item p {
  margin: 0;
  margin-left:20px;
  margin-bottom: 45px;
  padding: 0;
}

.offers-list-item .button {
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 15px;
}
/* Конец оформления сетки блока предложений */

/*оформление сетки блока бестселлеров */

.best-sellers {
  margin-left: 25px;
  margin-right: 25px;
}

.best-sellers-list {
  width: 1146px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.best-sellers-list-item {
  width: 267px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.best-sellers-list-item:last-child {
  margin-right: 0px;
}

.best-sellers-list-item a {
  display: flex;
  flex-direction: column-reverse;
}

.best-sellers-list-item h3 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-weight: 500;
  text-align: center;
}

.best-sellers-list-item p {
  position: relative;
  top: 115px;
  margin: 0px;
  padding: 0px;
}
/*Конец разметки сетки бестсселерров*/

.features {
  width: 1147px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px ;
  padding-bottom: 30px;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
}

.features p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.features-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.features-list-column {
  width: 540px;
}

.features-list-item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.features-list-item:last-child {
  margin-bottom:  0px;
}

.features-list-item  span {
    margin-right: 5px;
}

.features-list-item p {
  width: 485px;
  margin: 0;

  padding: 0;
}

/*Разметка сетки блока статьи и почты */

.article-signin-wrap {
  width: 1146px;
  margin: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  width: 560px;
  min-height: 220px;
}

article p {
  margin: 0;
  margin-top: 25px;
  margin-left: 20px;
  padding-left: 0;
  padding-top: 0;
}

article h1 {
  width: 290px;
  margin: 0;
  margin-top: 15px;
  margin-left: 20px;
  padding: 0;
}

.sign-in {
  width: 560px;
}
