body {
  margin: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
  background-position: top center;
}

a {
  text-decoration: none;
}

.main-navigation-list-item>a,
.best-sellers-list h3,
.info-list-item a{
    border-bottom: 1px solid #ffffff;
}

article a{
  color: #323232;
  text-decoration: underline;
  text-decoration-color: #323232;
}

.login-link a,
.basket-link a{
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
}

.login-link a{
  background-image:url("../img/Signin-icon.svg");
}

.basket-link a{
  background-image:url("../img/basket-icon.svg");
}

.login-link a:hover,
.login-link a:focus,
.basket-link a:hover,
.basket-link a:focus{
  color: #323232;
  background-color: #f8f7f4;
  /* Как иконку черным цветом покрасить в CSS??? */
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgb(160, 32, 11, 0.76);
  vertical-align: middle;

  background-color: #eb553b;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 20px;
}


.button:hover,
.button:focus{
  background-color: #eb553b,
}

.button:active{
  box-shadow: inset 0 2px 0 0 #ac1000;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-navigation ul:first-of-type,
.user-navigation,
.social ul,
.info-list,
.offers-list,
.best-sellers-list,
.features-list,
.social,
.catalog-list{
  list-style: none;
}

.main-navigation a,
.best-sellers a,
.main-footer a{
  color: #ffffff;
}

.user-navigation a{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.button-search{
  width: 17px;
  heigth: 17px;
  backround-color: rgba(50, 50, 50, 0.2);
  background-image: url("../img/Zoom-icon.svg") no-repeat;
  background-image-size: 17px 17px;
}

.best-sellers a:hover,
.best-sellers a:focus,
.best-sellers a:active,
.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active{
  color: #ffbc9e;
  font-weight: 500;
}

article a:hover,
article a:focus,
article a:active{
  color: #e84d37;
  font-weight: 700;
}

/*Добавила эту стилизацию отдельно для ссылки в футере, потому что отличается свойством font-weight от всех */
.info-list li:first-child a:hover,
.info-list li:first-child a:focus,
.info-list li:first-child a:active,{
  color: #ffbc9e;
  font-weight: 700;
}

.contacts {
  text-align: right;
  color: #ffffff;
  background-color: #849d8f;
}

.contacts .work-time {
  font-size: 14px;
  line-height: 16px;
}
.contacts .phone-number {
  font-size: 22px;
  line-height: 24px;
}

.container {
  color: #ffffff;
  font-weight: bold;
  background-color: #849d8f;
}

.slider p {
  font-size: 60px;
  line-height: 60.35px;
}

.offers {
  color: #ffffff;
  font-weight: 700;
  background-color: #849d8f;
}

.offers-list-item{
  text-align: left;
}

.offers-list-item h3{
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.offers-list-item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.first-offer {
  background-color: #a10416;
  background-image: url("../img/raspberry_background.jpg");
  border-radius: 15px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.second-offer {
  background-color: #251610;
  background-image: url("../img/chocolate_background.jpg");
  background-position: 0 0;
  border-radius: 15px;
  background-repeat: no-repeat;
}

.best-sellers{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #849d8f;
}

.best-sellers-item-price{
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

.best-sellers .price-amount{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.best-sellers img{
  border-radius: 134px;
}

.features{
  background-color: #ece0c7;
  background-image: url("../img/waffle-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.features{
  color: #323232;
  text-align: left;
}

.feaures b{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list-item p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

article{
  color: #323232;
  text-align: left;
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

article b{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

article h1{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/*Тут проблемы с фоном или рамкой*/
.sign-in{
  color: #5a5a5a ;
  text-align: left;
  background-color: #f8f7f4;

  background-image: url("../img/sign-in-backgroundjpg.jpg"), url("../img/post-background.jpg");
  border-radius: 15px;
}

.sign-in p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.sign-in input[type="text"] {
  font: inherit;
  background-color: #fefefe;
  border: 1px solid rgba(178, 178, 178, 0.52);
  /*box-shadow: inset 3px 3px 0 7px rgba(0, 0, 0, 0.35);*/
}

.sign-in input[type="submit"]{
  font-size: 18px;
  line-height: 24px;
}


.location-and-contacts{

}

.adress-and-phone-info{
  color: #323232;
  text-align: left;
  background-color: #fefefe;
  border-radius: 15px;
}

.adress-info{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.adress-info b{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.phone-number{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.phone-number b{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.worktime-info{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

/*Место для стилизации кнопки*/

.main-footer{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.info-list-item:first-child{
  font-weight: 700;
}

.social {
  text-align: center;
}

.social-button{
  background-color: rgba(254, 254, 254, 0.8);
}

.copyright{
  text-align: left;
}
.copyright .copyright-developer{
  font-size: 12px;
}

.modal{
  color: #323232;

  background-color: #fefefe;
}

.login-form input[type="email"],
.login-form input[type="password"],
.modal-answer input[type="text"],
textarea {
  font: inherit;
  font-weight: 400;
  color: #999999;

  background-color: #fffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.catalog-list{
  color: #323232;
  background-color: #fefefe;
  border: 1px solid rgba(194, 206, 199, 0.52);
}

.catalog-list a{
  color: #323232;
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
}

.catalog-list a:first-of-type{
  font-weight: 700;
}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
}

.catalog-list a:active{
  background-color: #f6b5a5;
}

.catalog-list a:visited{
  background-color: #d07058;
}

.answer-info p{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.login-modal .restore,
.login-modal .registration {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: underline;
}


.restore:hover,
.restore:focus,
.registration:hover,
.registration:focus,
.restore:active,
.registration:active {
  color: #ffbc9e;
  text-decoration: none;
}
